$default_font_size: 12pt;
$default_font_table: 10pt;

@mixin default_paragraph {
    margin: 0pt;
    margin-top: 2pt;
}


@page {
    size: A4;
    margin: 0;
}

@media print {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        // margin: 0;
        width: 210mm;
        height: 297mm;
        font-size: $default_font_size;
        font-family: "Times New Roman", Times, serif;

        .main_page {
            padding-top: 10mm;
            padding-left: 8mm;
            padding-right: 8mm;
            padding-bottom: 8mm;

            .clients_description {
                display: flex;

                .client {
                    width: 50%;

                    &:first-child {
                        padding-right: 8mm;
                    }

                    &:last-child {
                        padding-left: 8mm;
                    }

                    .client__name-bold {
                        font-weight: bold;
                    }
                }
            }

            .invoice {
                margin-top: 100pt;
                text-align: center;

                p {
                    @include default_paragraph;
                }

                .invoice__number-bold {
                    font-size: 16pt;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .invoice_table {
                table {
                    width: 100%;
                    margin: 10pt 0 0 0;
                    border: 1px solid black;
                    border-collapse: collapse;

                    font: $default_font_table;
                    

                    th,
                    td {
                        border: 1px solid black;
                        padding: 0 2pt;
                        text-align: center;

                        &.invoice_table__row-bold {
                            text-align: left;
                        }
                    }

                    .invoice_table__id {
                        width: 30pt;
                    }
                }
            }

            .invoice_tail {
                p {
                    @include default_paragraph;
                }

                .invoice_tail__sum {
                    p {
                        display: inline-block;
                    }
                }

                .invoice_tail__vat {
                    p {
                        display: inline-block;
                    }
                }
            }
        }

        .signature {
            .signature__executor {
                text-align: right;
            }
        }

    }
}