$default_font_size: 12pt;
$default_font_table: 10pt;

@mixin default_paragraph {
    margin: 0pt;
    margin-top: 2pt;
}

@mixin default_body {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 210mm;
        height: 297mm;

        padding-top: 10mm;
        padding-left: 8mm;
        padding-right: 8mm;
        padding-bottom: 8mm;

        font-size: $default_font_size;
        font-family: "Times New Roman", Times, serif;

        .main_page {
            .client {
                display: flex;

                &__name {
                    width: 50%;

                    &:first-child {
                        padding-right: 8mm;
                    }

                    &:last-child {
                        padding-left: 8mm;
                    }

                    &-bold {
                        font-weight: bold;
                    }
                }
            }
            .invoice {
                margin-top: 100pt;
                text-align: center;

                p {
                    @include default_paragraph;
                }

                &__number-bold {
                    font-size: 16pt;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .invoice_table {
                table {
                    width: 100%;
                    margin: 10pt 0 0 0;
                    border: 1px solid black;
                    border-collapse: collapse;

                    font: $default_font_table;

                    th,
                    td {
                        border: 1px solid black;
                        padding: 0 2pt;
                        text-align: center;
                    }

                    // &.invoice_table__row-bold {
                    //     text-align: left;
                    // }


                    .invoice_table_head {
                        &__id {
                            width: 30pt;
                        }
                    }

                    .invoice_table_body {
                        &__row {
                            &-left {
                                text-align: left;
                            }
                        }
                    }

                    .invoice_table_foot {
                        &__row {
                            &-bold {
                                padding-right: 5pt;
                                text-align: right;
                                font-weight: bold;

                            }
                        }
                    }
                }
            }
            .invoice_tail {
                p {
                    @include default_paragraph;
                }

                &__sum {
                    p {
                        display: inline;
                    }

                    &-bold {
                        font-weight: bold;
                    }
                }
            }
            .signature {
                &__executor {
                    text-align: right;
                }
            }
        }

    }

    

}


body {
    @include default_body;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    size: A4;
    margin: 0;
    @include default_body;
}